.block.draw {
  flex-direction: column;
  text-align: center;
  width: 30%;
  min-width: 250px;
  display: inline-flex;
  justify-content: space-between;
  flex: 1 1 30%;
  @media only screen and (max-width: 1000px) {
    width: 100%;
  }
}

.block.home {
  @media only screen and (max-width: 1000px) {
    width: 100%;
    flex-direction: row;

  }
  @media only screen and (max-width: 650px) {
    flex-direction: column;

  }
  *:not(a) {
    margin: 0;
  }
  & > div {
    padding: 1rem;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 1000px) {
      width: 29%;
    }
    @media only screen and (max-width: 750px) {
      width: 100%;
    }
  }
  .inner_top {
    background-color: $white;
    flex: 1 1 25%;
    h4 {
      color: $brand-one;
    }
    h1{
      color: $brand-one;
    }
    a{
      color: $black;
    }
  }
  .inner_mid {
    flex: 1 1 45%;
    background: linear-gradient(to right, rgba(27, 159, 214, 0.8) 0%, rgba(27, 159, 214, 0.8) 100%), url("../img/hero.jpg") center center / cover no-repeat;

    h3 {

    }

    *{
      color: $white;
    }
    .verses {
      img {
        display: inline-block;
        max-width: 100px;
        @media only screen and (min-width: 900px) {
        }
      }
      p, h1, h2, h3, h4, h5, h6 {
        display: inline-block;
      }
    }
  }
  .inner_bottom {
    flex: 1 1 30%;
    background-color: $white;
    *:not(a){
      color: $black;
    }
  }
}

.block.step-one {

  & >div{
    padding: 1rem;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 30%;
  }
  .inner_top {
  }
  .inner_mid {
    h2{
      color: $brand-one;
    }
  }
  .inner_bottom {
    justify-content: flex-start;
  }
}
.block.step-two {

}



.block.step-three{
  & >div{
    flex: 1 1 30%;
  }

}